<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /group_assignment/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_headers.c>
    Header set X-Htaccess-Test "group_assignment-webroot"
</IfModule>